<div class="row">
  <div class="col-md-4">
  <h3>Posts</h3>
  <ul class="list-unstyled">
    {{#each model as |post|}}
      <li>
        {{#link-to 'post' post.id}}
          {{post.title}}
          by <span class="muted">{{post.author.name}}</span>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
  </div>
  <div class="col-md-8">
     {{outlet}}
  </div>
</div>
